### Q.2 A hospital wants to determine whether there is any difference in the average Turn Around Time (TAT) of reports of the laboratories on their preferred list. They collected a random sample and recorded TAT for reports of 4 laboratories. TAT is defined as sample collected to report dispatch.
### Analyze the data and determine whether there is any difference in average TAT among the different laboratories at 5% significance level.
Minitab File: LabTAT.mtw

In [1]:
#Importing required libraries
import pandas as pd 
import numpy as np
import scipy
from scipy import stats

In [2]:
#Importing the dataset as 'data'
data=pd.read_csv('C:\Vishal\ExcelR\Data Science\Assignments\LabTAT.csv')
data.head()

   Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0        185.35        165.53        176.70        166.13
1        170.49        185.91        198.45        160.79
2        192.77        194.92        201.23        185.18
3        177.33        183.00        199.61        176.42
4        193.41        169.57        204.63        152.60

In [3]:
#Defining Null & Alternate hupothesis 
#Null Hypothesis = No Variance in TATs
#Alternate Hypothesis = Varience between TATs of at least two labs

In [4]:
LAB1=pd.Series(data.iloc[:,0])
LAB2=pd.Series(data.iloc[:,1])
LAB3=pd.Series(data.iloc[:,2])
LAB4=pd.Series(data.iloc[:,3])

In [5]:
#Performing One-way Anova Test
pvalue =stats.f_oneway(LAB1,LAB2,LAB3,LAB4)
if pvalue[1] > 0.05:
    print('We will accept Null Hypothesis i.e. no difference in TATs of labs')
else:
    print('We should select Alternate Hypothesis i.e. there is variaton between TATs of labs')

We should select Alternate Hypothesis i.e. there is variaton between TATs of labs